In [3]:
%pip install pandas numpy seaborn matplotlib

import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib as plt

Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (2.0.2)
Requirement already satisfied: seaborn in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: matplotlib in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (3.10.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.58.5)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = pd.read_csv(r"C:\Users\ASUS\Desktop\DS credora\Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_38144.csv")

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  265 non-null    object
 1   Region        217 non-null    object
 2   IncomeGroup   215 non-null    object
 3   SpecialNotes  129 non-null    object
 4   TableName     265 non-null    object
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 12.6+ KB
None

In [19]:
print(df.head())

  Country Code                                             Region  \
0          ABW                          Latin America & Caribbean
1          AFE                                                NaN
2          AFG  Middle East, North Africa, Afghanistan & Pakistan
3          AFW                                                NaN
4          AGO                                 Sub-Saharan Africa

           IncomeGroup                                       SpecialNotes  \
0          High income                                                NaN
1                  NaN  26 countries, stretching from the Red Sea in t...
2           Low income  The reporting period for national accounts dat...
3                  NaN  22 countries, stretching from the westernmost ...
4  Lower middle income  The World Bank systematically assesses the app...

                     TableName  Unnamed: 5
0                        Aruba         NaN
1  Africa Eastern and Southern         NaN
2                  Afghanistan         NaN
3   Africa Western and Central         NaN
4                       Angola         NaN

In [22]:
print(df.describe())

       Unnamed: 5
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [23]:
print(df.isnull())

     Country Code  Region  IncomeGroup  SpecialNotes  TableName  Unnamed: 5
0           False   False        False          True      False        True
1           False    True         True         False      False        True
2           False   False        False         False      False        True
3           False    True         True         False      False        True
4           False   False        False         False      False        True
..            ...     ...          ...           ...        ...         ...
260         False   False        False          True      False        True
261         False   False        False         False      False        True
262         False   False        False         False      False        True
263         False   False        False         False      False        True
264         False   False        False         False      False        True

[265 rows x 6 columns]

In [24]:
print(df.isnull().sum())

Country Code      0
Region           48
IncomeGroup      50
SpecialNotes    136
TableName         0
Unnamed: 5      265
dtype: int64

In [29]:
print(df.columns)

Index(['Country Code', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName',
       'Unnamed: 5'],
      dtype='object')